<%- include('head.ejs') %>

<header>
    <h1>Mijn Account</h1>
</header>
<main>
    <% if (savedFilms.length > 0) { %>
    <ul>
        <% savedFilms.forEach(function(savedFilm) { %>
        <li class="filmslijstje">
            <img src="../public/upload/images/movies/<%= savedFilm.photo %>" alt="<%= savedFilm.photo %>">
            <h2><%= savedFilm.title %></h2>
            <form method="POST" action="/deleteSavedFilm">
                <input type="hidden" name="filmId" value="<%= savedFilm.id %>">
                <button class="buttonverwijderen" type="submit">Verwijderen</button>
            </form>
        </li>
        <% }); %>
    </ul>
    <% } else { %>
    <p>Je hebt nog geen films opgeslagen.</p>
    <% } %>
</main>




<footer>
    <nav>
        <ul>
            <a href="/">
                <li>
                    <img src="../public/upload/images/homewit.png" alt="Logo">
                    <p><span>Home</span></p>
                </li>
            </a>
            <a href="/account">
                <li>
                    <img src="../public/upload/images/accountgroen.png" alt="Logo">
                    <p><span>Account</span></p>
                </li>
            </a>
        </ul>
    </nav>
</footer>