<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailpagina</title>
    <link rel="stylesheet" type="text/css" href="/public/css/detailspagina.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <img src="../public/upload/images/kruiswit.png" alt="Logo">
            </a>
            <img src="../public/upload/images/chromeshare.png" alt="Logo">
            <img src="../public/upload/images/zoekenwit.png" alt="Logo">
        </nav>
    </header>
    <main>
        <h1><strong><%= film.title %></strong></h1>
        <p><strong>Afleveringen:</strong> <br> <%= film.episodes %></p>
        <p><strong>Releasedatum:</strong> <br> <%= film.release %></p>
        <p><strong>Beschrijving:</strong> <br> <%= film.descriptions %></p>
        <img src="../public/upload/images/movies/<%= film.photo %>" alt="<%= film.title %>">
    </main>

    <footer>
        <form method="POST" action="/savedFilms">
            <input type="hidden" name="filmId" value="<%= film.id %>">
            <button class="buttonopslaan" type="submit">Opslaan</button>
        </form>
    </footer>



</body>

</html>