<%- include('header.ejs') %>
<main>
    <section class="promovideo">

        <video src="../public/upload/video's/ROAD OF NARUTO NARUTO 20th Anniversary Trailer VIZ.mp4"
            alt="Achtergrond video van naruto homepagina" autoplay loop muted>
        </video>
        <section>
            <h2>Naruto</h2>
            <section>
                <a href="./detailspagina">
                    <button class="btn1">
                        <img src="../public/upload/images/playgroen.png" alt="Afspelen" />
                        Afspelen
                    </button>
                </a>
                <a href="./detailspagina">
                    <button class="btn2">
                        <img src="../public/upload/images/pluswit.png" alt="Afspelen" />
                        Afspelen
                    </button>
                </a>
            </section>
        </section>
    </section>
    <section>
        <h2>Nieuwste films</h2>
        <ul>
            <% films.forEach(function(film) { %>
              <li>
                <a href="/detailspagina/<%= film.id %>">
                <h3><%= film.title %></h3>
                <img src="../public/upload/images/movies/<%= film.photo %>" alt="<%= film.title %>">
            </a> 
            </li>
            <% }); %>
          </ul>
    </section>
   
    <section>
        <h1></h1>
        <h2></h2>
        <h3></h3>
    </section>
</main>
<footer>
    <nav>
        <ul>
            <a href="/">
                <li>
                    <img src="../public/upload/images/homegroen.png" alt="Logo">
                    <p><span>Home</span></p>
                </li>
            </a>
            <a href="/account">
                <li>
                    <img src="../public/upload/images/accountwit.png" alt="Logo">
                    <p><span>Account</span></p>
                </li>
            </a>
        </ul>
    </nav>
</footer>
<script defer src="../public/script.js"></script>
</body>
</html>